.root {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 48px 8px;
  flex-wrap: wrap;
}

.actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

@media (max-width: 720px) {
  .root {
    padding: 16px 20px 8px;
  }
}
